<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{admin/main}">

<head>
    <title>Création d'un utilisateur</title>
    <style>
        .fieldError {
            color: red;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <h1>Nouvel utilisateur</h1>

        <form th:action="@{/admin/add-user}" th:object="${user}" method="post">
            <div class="mb-3">
                <label class="form-label">Login:</label>
                <input type="text" th:field="*{login}" class="form-control">
                <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="fieldError"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Password:</label>
                <input type="password" th:field="*{password}" class="form-control">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Firstname:</label>
                <input type="text" th:field="*{firstname}" class="form-control">
                <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="fieldError"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Lastname:</label>
                <input type="text" th:field="*{lastname}" class="form-control">
                <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="fieldError"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Email:</label>
                <input type="email" th:field="*{email}" class="form-control">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Rôle:</label>
                <select name="roles" multiple="multiple" class="form-control" th:field="*{roles}">
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
                </select>
                <p th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="fieldError"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Langue:</label>
                <input type="text" th:field="*{langue}" class="form-control">
                <p th:if="${#fields.hasErrors('langue')}" th:errors="*{langue}" class="fieldError"></p>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Ajouter</button>
                <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                <a th:href="@{/admin/users}" class="btn btn-danger">Annuler</a>
            </div>
        </form>
    </div>
</body>

</html>