<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{admin/main}">

<head>
	<title>Liste des spectacles</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="text-end m-3">
			<a th:href="@{/admin/add-user}" class="btn btn-success">Add <i class="bi bi-person-fill-add fs-3"></i></a>
		</div>
		<div class="container">

			<h1 th:text="${title}">Liste des Utilisateurs</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>username</th>
						<th>Prenom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Role</th>
						<th>Langue</th>
						<th>Date de Création</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(users)}" th:each="user : ${users}">
						<td th:text="${user.login}"></td>
						<td th:text="${user.firstname}"></td>
						<td th:text="${user.lastname}"></td>
						<td th:text="${user.email}"></td>
						
						<td th:each="role : ${user.roles}" th:text="${role.role}"></td>
						
						<td th:text="${user.langue}"></td>
						<td th:text="${user.created_at}"></td>
						<td><button class="btn btn-outline-primary"><i class="bi bi-pencil-fill"></i></button></td>
						<td><button class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>