<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
	layout:decorate="~{admin/layouts/admin}">

<head>
	<title>Liste des spectacles</title>

</head>

<body>
	<div layout:fragment="content">
		<div class="text-end m-3">
			<a th:href="@{/admin/add-user}" class="btn btn-success">Add <i class="bi bi-person-fill-add fs-3"></i></a>
		</div>
		<div class="container text-light">

			<h1 th:text="${title}" class="mb-3"></h1>

			<table id="users" class="row-border" style="width:100%">
				<thead>
					<tr>
						<th>Login</th>
						<th>Prenom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Rôles</th>
						<th>Langue</th>
						<th>Date de Création</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(users)}" th:each="user : ${users}">
						<td th:text="${user.login}"></td>
						<td th:text="${user.firstname}"></td>
						<td th:text="${user.lastname}"></td>
						<td th:text="${user.email}"></td>
						<td>
							<span th:each="role : ${user.roles}" th:text="${role.role}"></span>
						</td>
						<td th:text="${user.langue}"></td>
						<td th:text="${user.created_at}"></td>

						<td><a th:href="@{/admin/users/{id}/edit(id=${user.id})}" class="btn btn-outline-primary"><i
									class="bi bi-pencil-fill"></i></a>
						

							<!--<form th:id="|deleteForm-${user.id}|" th:action="@{/admin/users/{id}(id=${user.id})}"
								th:method="delete">-->
							<a href="#" class="btn btn-outline-danger" th:onclick="|if(confirm('Confirm delete user #${user.id}'))
	                    		document.getElementById('deleteForm-${user.id}').submit();
	                    		return false;|"><i class="bi bi-trash3-fill"></i></a>
							</form>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	
</body>

</html>