<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{admin/main}">
<head>
    <title>Liste des spectacles</title>
</head>
<body>

                
                    <div layout:fragment="content">
						<div class="container">
                        <h1 th:text="${title}">Liste des spectacles</h1>

                        <table class="table table-striped">
                            <tr>
                                <th>Nom</th>
                                <th>Prix</th>
                            </tr>
                            <tr th:unless="${#lists.isEmpty(shows)}" th:each="show : ${shows}">
                                <td>
                                    <span th:text="${show.title}">Ayiti</span>
                                </td>
                                <td th:if="${show.bookable}">
                                    <span th:text="${show.price} + ' €'">9.99 €</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

</body>
</html>
