<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">

<head>
    <title>Confirmation</title>
</head>

<body>

    <div layout:fragment="content">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div th:if="${representation != null}" class="text-center">

                        <!-- Utilisation d'une expression Thymeleaf pour l'image -->
                        <img th:src="@{'/images/' + ${representation.show.posterUrl}}" alt="Poster du spectacle" width="300" />

                        <!-- Calculer le total sans accéder directement à la propriété 'price' -->

                    </div>
                </div>
                <div class="col-md-6">

                    <h2 class="text-center">Confirmation de réservation</h2>
                    <h5 class="mt-5">Détails de la représentation :</h5>
                    <p><strong>Vous avez choisi une représentation le :</strong> <span th:text="${#temporals.format(representation.when, 'yyyy-MM-dd HH:mm')}"></span></p>
                    <!-- Afficher le titre du spectacle sans référence circulaire -->
                    <p><strong>Titre du spectacle :</strong> <span th:text="${representation.show.title}"></span></p>

                    <div th:if="${username != null}">
                        <p><strong>Utilisateur :</strong> <span th:text="${username}"></span></p>
                    </div>
                    <div th:if="${username != null}">
                        <p><strong>Nombre de places :</strong> <span th:text="${nbPlaces}"></span></p>
                    </div>
                    <p><strong>Total à payer :</strong> <span th:text="${#numbers.formatDecimal(representation.show.price * nbPlaces, 2, 'COMMA', 2, 'POINT')}"></span> €</p>

                    <form th:action="@{/checkout}" th:method="POST">
                        <button type="submit" class="btn btn-primary">Procéder au paiement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
