<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Sidebar fragment</title>



</head>

<body>

	<div th:fragment="sidebar">


		<!--	<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 100vh;">
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">

				<li>
					<a href="@{/admin/dashboard}" class="nav-link text-white active" id="dashboard-link">
						<i class="bi bi-speedometer2"></i>
						Dashboard
					</a>
				</li>
				<li>
					<a th:href="@{/admin/users}" class="nav-link text-white" id="users-link">
						<i class="bi bi-people"></i> Users
					</a>
				</li>
				<li>
					<a th:href="@{/admin/shows}" class="nav-link text-white" id="shows-link">
						<i class="fa fa-glasses"></i>
						Shows
					</a>
				</li>
				<li>
					<a th:href="@{/users}" class="nav-link text-white" id="representations-link">
						Representations
					</a>
				</li>
				<li>
					<a th:href="@{/users}" class="nav-link text-white" id="artistes-link">
						Artistes
					</a>
				</li>
				<li>
					<a th:href="@{/users}" class="nav-link text-white" id="reservations-link">
						Reservations
					</a>
				</li>
			</ul>
			<hr>
			<div class="dropdown">
				<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
					id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
					<strong>mdo</strong>
				</a>
				<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
					<li><a class="dropdown-item" href="#">New project...</a></li>
					<li><a class="dropdown-item" href="#">Settings</a></li>
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" href="#">Sign out</a></li>
				</ul>
			</div>
		</div>-->

		<!-- Sidebar -->
		<aside id="sidebar">
			<div class="h-100">
				<div class="sidebar-logo">
					<a href="#">ShowUpNow</a>
				</div>
				<!-- Sidebar Navigation -->
				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Tools & Components
					</li>
					<li class="sidebar-item">
						<a th:href="@{/admin}" class="sidebar-link">
							<i class="fa-solid fa-gauge"></i> Dashboard
						</a>
					</li>
					<li class="sidebar-item">
						<a th:href="@{/admin/users}" class="sidebar-link collapsed" data-bs-toggle="collapse"
							data-bs-target="#pages" aria-expanded="false" aria-controls="pages">
							<i class="fa-solid fa-users"></i> Users
						</a>
						<ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Analytics</a>
							</li>
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Ecommerce</a>
							</li>
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Crypto</a>
							</li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a th:href="@{/admin/shows}" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
							aria-expanded="false" aria-controls="dashboard">
							<i class="fa-solid fa-glasses"></i>
							Shows
						</a>
						<ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">R</a>
							</li>
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Dashboard Ecommerce</a>
							</li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a  class="sidebar-link collapsed" data-bs-toggle="collapse"
							data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
							<i class="fa-regular fa-user pe-2"></i>
							Auth
						</a>
						<ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Login</a>
							</li>
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Register</a>
							</li>
						</ul>
					</li>
					<li class="sidebar-header">
						Multi Level Nav
					</li>
					<li class="sidebar-item">
						<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
							aria-expanded="false" aria-controls="multi">
							<i class="fa-solid fa-share-nodes pe-2"></i>
							Multi Level
						</a>
						<ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
							<li class="sidebar-item">
								<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
									data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
									Two Links
								</a>
								<ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
									<li class="sidebar-item">
										<a href="#" class="sidebar-link">Link 1</a>
									</li>
									<li class="sidebar-item">
										<a href="#" class="sidebar-link">Link 2</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</aside>



	</div>

</body>

</html>