<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des artistes</title> </head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${artist.firstname} +' '+ ${artist.lastname}">Bob Sull</h1>
        <h1 th:text="|${artist.firstname} ${artist.lastname}|">Bob Sull</h1>

        <h2>Liste des types</h2>
        <ul th:unless="${#lists.isEmpty(artist.types)}">
            <li th:each="type : ${artist.types}" th:text="${type.type}">Type</li>
        </ul>

        <div class="actions">
            <a th:href="@{/artists/{id}/edit(id=${artist.id})}">Edit</a>
        </div>


        <nav><a th:href="@{/artists}">Retour à l'index</a></nav>
    </div>
</div>
</body>
</html>