<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Header fragment</title>

 <style>
        /* Ajoutez ici vos styles CSS selon vos besoins */
        .active-tab {
            background-color: #26495c;
        }
    </style>
</head>


<body>
	<header th:fragment="header">


		<nav class="navbar navbar-expand-lg navbar-light p-2" style="background-image: linear-gradient(to right,rgb(124, 124, 124),#e5e5dc);">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"><i class="fa-solid fa-masks-theater"></i></i>ShopUpNow</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class=" collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav ms-auto fs-4">
						<li class="nav-item">
							<a class="nav-link mx-2 active" id="home" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mx-2 " id="programme" href="#">Programmes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mx-2" id="calendrier" href="#">Calendrier</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mx-2 " id="billeterie" href="#">Billeterie</a>

						</li>
					</ul>

					<ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
						<li class="nav-item dropdown mx-2">
							<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa-regular fa-address-card fs-3"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Login</a></li>
								<li><a class="dropdown-item" href="#">Register</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		</div>
	</header>

	
</body>

</html>