<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="utf-8">
	<title>Header fragment</title>


</head>


<body>
	<header th:fragment="header">



		<nav class="navbar navbar-expand-lg navbar-light p-2 fs-5">
			<div class="container-fluid d-flex justify-content-between">
				<a class="navbar-brand" th:href="@{/home}"><i class="fa-solid fa-masks-theater"></i>ShopUpNow</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link mx-2" id="programme" th:href="@{/shows}">Programmes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mx-2" id="calendrier" href="#">Calendrier</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mx-2" id="billeterie" href="#">Billeterie</a>
						</li>
					</ul>
				</div>

				<ul class="navbar-nav">
					<div sec:authorize="isAuthenticated()">
						<li class="nav-item dropdown dropstart">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								th:text="${#authentication.principal.username}"><i class="bi bi-person-circle"></i> </a>
							<div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" th:href="@{/profil}">Mon Compte</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" th:href="@{/logout}">Déconnexion</a>
							</div>
						</li>
					</div>
					<div sec:authorize="!isAuthenticated()" class="d-flex justify-content-between">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/login}">Se Connecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/register}">Inscription</a>
						</li>
					</div>
				</ul>

			</div>
		</nav>

	</header>


</body>

</html>