<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
  <title>Liste des spectacles</title>
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <h1 th:text="${title}">Liste des spectacles</h1>

    <ul th:unless="${#lists.isEmpty(shows)}">
      <li th:each="show : ${shows}">
        <span th:text="${show.title}">Ayiti</span>
        <span th:if="${show.bookable}" th:text="${show.price} + ' €'">9.99 €</span>

        <span th:if="${#lists.size(show.representations)==1}">- 1 représentation</span>
        <span th:if="${#lists.size(show.representations)>1}"
              th:text="|- ${#lists.size(show.representations)} représentations|">- 2 représentations</span>
        <em th:if="${#lists.size(show.representations)==0}">aucune représentation</em>


        <a th:href="@{/show/{id}(id=${show.id})}">View</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
