<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">

<head>
	<title>Login page</title>



</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="d-flex justify-content-center align-items-center vh-100 ">
				<div>
					<h1 class="text-center mb-5 h1Login" id="avousdejouer">À vous de jouer</h1>
				</div>
				<div class="row justify-content-center  p-4 mt-5" width="300px">

					<div class="col-md-4 mx-auto text-center bg-light ">

						<form class="form-signin" method="post" th:action="@{/login}">
							<h2 class="form-signin-heading">Please sign in</h2>
							<div class="alert alert-success" role="alert">You have been signed out</div>
							<p>
								<label for="username" class="sr-only">Username</label>
								<input type="text" id="username" name="username" class="form-control"
									placeholder="Username" required="" autofocus="">
							</p>
							<p>
								<label for="password" class="sr-only">Password</label>
								<input type="password" id="password" name="password" class="form-control"
									placeholder="Password" required="">
							</p>
							<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
						</form>
					</div>
					<div class="col-md-8 text-center">

						<img src="/images/loginImg.webp" class="img-fluid">
					</div>
				</div>

			</div>
		</div>


	</div>


</body>

</html>