<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" lang="fr"
	layout:decorate="~{layouts/main}">

<head>

	<style>
		.caption {
			display: flex;
			align-items: center;
		}

		.caption-text {
			flex: 1;
		}

		.caption-image {
			flex: 1;
		}

		.caption-image img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	</style>

</head>


<body>




	<div layout:fragment="content">
		<div class="container mt-2">

			<!--A L AFFICHE-->

			<h1>A l'Affiche</h1>

			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12" th:each="show : ${shows}">
					<a th:href="@{'/show/' + ${show.id}}" class="">
						<div class="card">
							<div class="row g-0">
								<div class="col-md-4">
									<img th:src="@{'/images/' + ${show.posterUrl}}" class="card-img-top" alt="..."
										style="max-height: 300px; max-width: 200px;">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title" th:text="${show.title}">Titre par défaut</h5>
										<p class="card-text" th:text="${show.description}">Description par
											défaut</p>
										<p class="card-text" th:if="${show.bookable}" th:text="${show.price} + ' €'">
											9.99 €</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			
		</div>

	</div>
	










</body>

</html>