<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" lang="fr"
	layout:decorate="~{layouts/main}">

<head>
<title>Home</title>
</head>


<body>




	<div layout:fragment="content">
		<div class="container mt-2">

			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/images/moliere.jpg" class="d-block w-100" style="height: 400px;" alt="...">
					</div>
					<div class="carousel-item">
						<img src="/images/piaf.jpeg." class="d-block w-100" style="height: 400px;" alt="...">
					</div>
					<div class="carousel-item">
						<img src="/images/paris.jpg" class="d-block w-100" style="height: 400px;" alt="...">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</a>
			</div>
			<!--Nos nouveauté-->
			<div class="text-center mb-0 bg-black border border-2 p-1 ">
				<h2 th:text="#{home.message}"></h2>
				<p th:text="#{home2.message}"></p>
			</div>

			<!-- Section "Découvrez Nos Nouveautés" -->
			<div class="row m-0 ">
				<div class="col-md-12">
					<div class="card mb-3 bg-dark bg-transparent border-0 disabled"
						style="transform: none;  box-shadow: none;">
						<div class="row g-0">

							<div class="col-md-8 text-start">
								<div class="card-body">
									<h5 th:text="#{home3.message}" class="card-title"></h5>
									<p th:text="#{home4.message}" class="card-text">
									</p>
									<a th:text="#{home5.message}" class="btn btn-primary"></a>
								</div>
							</div>
							<div class="col-md-4 text-start">
								<img src="/images/nouveaute1.jpeg" class="card-img-top m-2" alt="Nouveauté 1"
									style="width: 100px; height: auto;">
								<img src="/images/nouveaute2.jpg" class="card-img-top m-2" alt="Nouveauté 2"
									style="width: 100px; height: auto;">
								<img src="/images/nouveaute3.jpg" class="card-img-top m-2" alt="Nouveauté 3"
									style="width: 100px; height: auto;">
							</div>
						</div>
					</div>

					<!-- Ajoute une nouvelle carte pour la deuxième nouveauté -->
					<div class="card mb-3 bg-transparent border-0 disabled" style="transform: none;  box-shadow: none;">
						<div class="row g-0">
							<div class="col-md-4 text-end">
								<img src="/images/nouveaute4.jpg" class="card-img-top m-2" alt="Nouveauté 4"
									style="width: 100px; height: auto;">
								<img src="/images/nouveaute5.jpg" class="card-img-top m-2" alt="Nouveauté 5"
									style="width: 100px; height: auto;">
								<img src="/images/nouveaute6.jpg" class="card-img-top m-2" alt="Nouveauté 6"
									style="width: 100px; height: auto;">
							</div>
							<div class="col-md-8 text-end">
								<div class="card-body">
									<h5 th:text="#{home6.message}" class="card-title"></h5>
									<p th:text="#{home7.message}" class="card-text">
										
									</p>
									<a th:text="#{home5.message}" class="btn btn-primary"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--A L AFFICHE-->

			<div class="text-center m-0 bg-black p-1 border border-2">
				<h2 th:text="#{home8.message}"></h2>
				<p th:text="#{home9.message}"></p>
				<h1>
			</div>
			<div class="row m-0 pt-3 pb-3" >
				<div class="col-md-4 col-sm-6 col-xs-12 text-center" style="border: black, 5px;" th:each="show, iterStat : ${shows}"
					th:if="${iterStat.index < 3}">
					<a th:href="@{'/show/' + ${show.id}}" class="text-center">
						<div class="card bg-transparent m-0 border-0 text-center">
							<img th:src="@{'/images/' + ${show.posterUrl}}" class="card-img-top mx-auto d-block" style="width: 200px; height: 200px;" alt="...">
						</div>
					</a>
				</div>
			</div>



		</div><br><br><br>

	</div>











</body>

</html>